@font-face {
    font-family: "Game of Thrones"; 
    src: url("//db.onlinewebfonts.com/t/97c4b25dc74e0ab045154e75a8fdd69d.eot"); src: url("//db.onlinewebfonts.com/t/97c4b25dc74e0ab045154e75a8fdd69d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/97c4b25dc74e0ab045154e75a8fdd69d.woff2") 
    format("woff2"), 
    url("//db.onlinewebfonts.com/t/97c4b25dc74e0ab045154e75a8fdd69d.woff") format("woff"), url("//db.onlinewebfonts.com/t/97c4b25dc74e0ab045154e75a8fdd69d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/97c4b25dc74e0ab045154e75a8fdd69d.svg#Game of Thrones") 
    format("svg");
}


body {
    background-color: #0059ac;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }





